.btn {
    padding: 5px 20px;
    background-color: rgb(66, 66, 209);
    border: solid 1px blue;
    border-radius: 5px;
    color: azure;
    width: 83px;
}

.status {
    color: rgb(6, 138, 50);
    font-weight: 600;
}